<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <title>
      {% block title %}{% endblock %} | NISER Listings
    </title>
  </head>

  <body>

    <nav class="navbar">
      <ul>
        <li>
          <a href="{% url 'main:index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'main:submit' %}">List an item</a>
        </li>
      </ul>
    </nav>

<!--
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'main:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:submit' %}">List an item</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>-->


    <header>

      <h1>NISER Listings</h1>
      <p>One person's trash is another person's treasure.</p>

      <form action="{% url 'main:search' %}" method="GET">
        <input type="search" name="query" placeholder="Search">

        <label for="search-sort">Sort by:</label>
        <select name="sort_by" id="search-sort">
          <option value="-rank">Relevance</option>
          <option value="price">Price (Lowest First)</option>
          <option value="-price">Price (Highest First)</option>
        </select>
        <input type="submit" value="Search">
      </form>
    </header>

    <main>
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% block content %}
      {% endblock %}

    </main>

    <footer>
      NISER Software Development Group
    </footer>
  </body>
</html>

