{% extends 'base.html' %}

{% block title %}
{{ listing }}
{% endblock %}

{% block content %}
<div class="listingDetails">
	<aside class="side left">
		{% if listing.photo %}
		<br><img src="{{ listing.photo.url }}" width="100%"><br>
		{% else %}
		<p>[image not uploaded]</p>
		{% endif %}
		<dt>Description</dt>
		<dd>{{ listing.description }}</dd>
	</aside>
	<aside class="side right">
		<dl>
			<h1>{{ listing }}</h1>

			<dt>Price</dt>
			<dd>₹ {{ listing.price }}</dd>

			<dt>Condition</dt>
			<dd>{{ listing.condition }}</dd>

			<dt>Location</dt>
			<dd>{{ listing.location }}</dd>

			<dt>Listed by</dt>
			<dd>{{ listing.op }}</dd>

			<dt>Email</dt>
			<dd><a href="mailto:{{ listing.email }}">{{ listing.email }}</a></dd>

			<dt>Phone</dt>
			<dd><a href="tel:{{ listing.phone }}">{{ listing.phone }}</a></dd>
		</dl>
	</aside>
</div>
{% endblock %}